body {
  color: #333333;
  font-family: "Source Sans Pro";
}

/*logo*/
.logo-mini img {
  width: 100%;
}

.logo-lg {
  height: 100%;
}

.logo-lg img {
  width: auto;
  height: 100%;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .logo-lg img {
    height: 94%;
    margin: 1% 0;
  }
}

.main-footer {
  background: #fff;
  padding: 9px 15px;
  color: #58666e;
  border-top: none;
  font-size: 12px;
}

ul.pagination {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .input-group {
    max-width: 100%;
  }
  .input-group .select2 {
    display: table-cell;
  }
}

/*select 2*/
select.input-sm + .select2-container--default .select2-selection--single,
select.input-sm + .select2-selection .select2-selection--single {
  padding: 4px 12px;
  height: 30px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .input-group {
    max-width: 100%;
  }
  .input-group .select2 {
    display: table-cell;
  }
}

/*style table th vertical middle*/
.table.table-th-middle > thead > tr > th,
.table.table-th-middle > tbody > tr > th,
.table.table-th-middle > tr > th {
  vertical-align: middle;
}

/*table hover*/
.hover-pink.table-hover > tbody > tr:hover {
  background-color: #f9efef;
}

.inputfile-wrap input[type="file"] {
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0;
  width: 100%;
}

.inputfile-wrap .input-group-btn {
  position: relative;
}

.imgprev-wrap {
  background: #f7f7f7;
  margin-top: 10px;
  padding: 5px;
  border: 1px dashed #ccc;
  border-radius: 1px;
  width: 100%;
  position: relative;
}

.imgprev-wrap img {
  width: 20%;
}

.imgprev-wrap i.fa.fa-trash {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  height: 18px;
  font-size: 18px;
  cursor: pointer;
}

.login-page,
.register-page {
  background-color: rgba(0, 238, 251, 0.7);
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 238, 251, 0.7),
    rgba(52, 37, 189, 0.7)
  );
  min-height: 100vh;
}

.login-page {
  padding: 7% 0 0;
}

.register-box,
.register-box-company,
.login-box {
  padding: 7px;
  background: rgba(255, 255, 255, 0.5);
  /*#F4F6F9;*/
  border-radius: 5px;
  margin: 0 auto;
  max-width: 100%;
}

.register-box-body,
.login-box-body {
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
}

.register-box-company {
  padding: 7px;
  margin: 2% 0;
}

.register-box-company .register-box-body {
  max-width: none;
}

.login-logo,
.register-logo {
  margin-bottom: 10px;
}

.login-logo img,
.register-logo img {
  max-width: 200px;
}

[class*="icheck-"] {
  min-height: 22px;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  padding-left: 0px;
}

[class*="icheck-"] > label {
  padding-left: 29px !important;
  min-height: 22px;
  line-height: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

[class*="icheck-"] > input:first-child {
  position: absolute !important;
  opacity: 0;
  margin: 0;
}

[class*="icheck-"] > input:first-child:disabled {
  cursor: default;
}

[class*="icheck-"] > input:first-child + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 22px;
  height: 22px;
  border: 1px solid #d3cfc8;
  border-radius: 0px;
  margin-left: -29px;
}

[class*="icheck-"] > input:first-child + input[type="hidden"] + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 22px;
  height: 22px;
  border: 1px solid #d3cfc8;
  border-radius: 0px;
  margin-left: -29px;
}

[class*="icheck-"] > input:first-child:checked + label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 10px;
  border: solid 2px #fff;
  border-left: none;
  border-top: none;
  transform: translate(7.75px, 4.5px) rotate(45deg);
  -ms-transform: translate(7.75px, 4.5px) rotate(45deg);
}

[class*="icheck-"]
  > input:first-child:checked
  + input[type="hidden"]
  + label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 10px;
  border: solid 2px #fff;
  border-left: none;
  border-top: none;
  transform: translate(7.75px, 4.5px) rotate(45deg);
  -ms-transform: translate(7.75px, 4.5px) rotate(45deg);
}

[class*="icheck-"]
  > input:first-child:not(:checked):not(:disabled):hover
  + label::before {
  border-width: 2px;
}

[class*="icheck-"]
  > input:first-child:not(:checked):not(:disabled):hover
  + input[type="hidden"]
  + label::before {
  border-width: 2px;
}

[class*="icheck-"] > input[type="radio"]:first-child + label::before {
  border-radius: 50%;
}

[class*="icheck-"]
  > input[type="radio"]:first-child
  + input[type="hidden"]
  + label::before {
  border-radius: 50%;
}

.icheck-inline {
  display: inline-block;
}

.icheck-inline + .icheck-inline {
  margin-left: 0.75rem;
  margin-top: 6px;
}

.icheck-midnightblue
  > input:first-child:not(:checked):not(:disabled):hover
  + label::before {
  border-color: #2c3e50;
}

.icheck-midnightblue
  > input:first-child:not(:checked):not(:disabled):hover
  + input[type="hidden"]
  + label::before {
  border-color: #2c3e50;
}

.icheck-midnightblue > input:first-child:checked + label::before {
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.icheck-midnightblue
  > input:first-child:checked
  + input[type="hidden"]
  + label::before {
  background-color: #2c3e50;
  border-color: #2c3e50;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.41);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #074646;
  border-radius: 15px;
}